<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="../public/css/geral.css">
        <link rel="stylesheet" href="../public/css/home.css">
        <%-include("partes/header")%>
        <main>
                <div>Acessórios</div>
                <div>Calçados</div>
                <div>Roupas</div>
        </main>
    </body>

    </html>