<footer>
    <div class="atendimento">
        <ul>
            <h1>ATENDIMENTO AO CLIENTE</h1>
            <a href=""><li>Central de Ajuda</li></a>
            <a href=""><li>Garantia</li></a>
            <a href=""><li>Fale Conosco</li></a>
        </ul>
    </div>
    <div class="sobreNos">
        <ul>
            <h1>SOBRE O EUCALYPTUS</h1>
            <a href=""><li>Sobre Nos</li></a>
            <a href=""><li>Nossas Politicas</li></a>
        </ul>
    </div>
    <div class="redesSociais">
        <ul>
            <h1>REDES SOCIAIS</h1>
            <a href="" class="insta"><img src="/img/insta.png" alt=""></a>
            <a href="" class="tt"><img src="/img/twitter.png" alt=""></a>
            <a href="" class="face"><img src="/img/facebook.png" alt=""></a>
        </ul>
    </div>
</footer>