<header>
    <a href="/home"><img class="Eucalyptus" src="../img/Eucalyptus.png" alt=""></a>
<div class="buscar">
    <input type="text" class="barbusca" placeholder="O que você procura?">
    <div class="pesquisar"> <img src="../img/lupa.png" alt=""></div>
</div>   
    
</div>
</header>